@media print{
	body {
		visibility: hidden;
		}
	table {
		visibility: visible;
		font-size: 8pt;
	}
}

ul {
	display: block;
	list-style-type: none;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}

table,th,td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
table.rop{
	width: 100%;
}

th.poroes{
	width: 5%;
}
tr.tit{
	background-color: lightblue;
	font-weight: bold;
}
td.nm{
	color: royalblue;
}
tr.obs{
	height: 3cm;
	vertical-align: text-top;
}
td.obs{
	text-align: left;
	height: 30px;
}
p.obs{
	
}
.paralizacao{
	text-align: left;
}

/*
table {
	 
	border: 2px solid black;
	border-collapse: collapse;
	width: 100%;
	border-style: solid;
}

td{
	border: 1px solid lightgrey;
}

thead{
	text-align: center;
	border: 1px solid gray;
	background-color: lightgrey;
}

.info{
	background-color: lightblue;
}

th.poroes{

	width: 5%;
}
/*